{% extends "base.html" %}
{% load database_access_tags %}
{% block title %}Analytical Platform - Tables for {{ database.name }}{% endblock title %}
{% block content %}

<div class="govuk-width-container">

  <span class="govuk-caption-xl">Database</span>
  <h1 class="govuk-heading-xl">{{ database_name }}</h1>

  {% include "database_access/database/includes/filter_form.html" %}

  {% if tables %}
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Table Name</th>
          <th scope="col" class="govuk-table__header">Actions</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for table in tables %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">{% firstof table.name table.Name %}</td>
            <td class="govuk-table__cell">
              <a href="{% table_detail_url table=table database_name=database_name %}" class="govuk-link">View</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p class="govuk-body">No tables found.</p>
  {% endif %}

</div>

{% endblock %}
