{% extends "base.html" %}
{% block title %}Analytical Platform - Tables for {{ database.name }}{% endblock title %}
{% block content %}

<span class="govuk-caption-xl">Database</span>
<h1 class="govuk-heading-xl">{{ database.name }}</h1>

{% if database.tables %}
  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Table Name</th>
        <th scope="col" class="govuk-table__header">Actions</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      {% for table in database.tables %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">{{ table.Name }}</td>
          <td class="govuk-table__cell">
            <a href="{% url 'database_access:table_detail' database.name table.Name %}" class="govuk-link">View</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p class="govuk-body">No tables found.</p>
{% endif %}

{% endblock %}
