{% extends "base.html" %}

{% block content %}

    <span class="govuk-caption-xl">Table</span>
    <h1 class="govuk-heading-xl">{{ table.name }}</h1>

    <h2 class="govuk-heading-l">Grant Table Access</h2>

    <form method="post">
        {% csrf_token %}
        <div class="govuk-form-group {% if form.errors %}govuk-form-group--error{% endif %}">
            {{ form.user.as_field_group }}
            {{ form.access_levels }}
            <button class="govuk-button">Grant Access</a>
        </form>
    </div>

{% endblock %}
