{% extends "base.html" %}
{% load database_access_tags %}
{% block title %}Analytical Platform - Databases{% endblock title %}

{% block content %}
<div class="govuk-width-container">
    <h1 class="govuk-heading-xl">Databases</h1>

    {% include "database_access/database/includes/filter_form.html" %}

    {% if databases %}
        <table class="govuk-table">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Name</th>
                <th scope="col" class="govuk-table__header">Actions</th>
            </tr>
            </thead>
            <tbody class="govuk-table__body">
            {% for database in databases %}
                <tr class="govuk-table__row">
                <td class="govuk-table__cell">{% firstof database.name database.Name %}</td>
                <td class="govuk-table__cell">
                    <a href="{% database_detail_url database=database %}" class="govuk-link">View</a>
                </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="govuk-body">No databases found.</p>
    {% endif %}
</div>

{% endblock content %}
