{% extends "base.html" %}

{% block content %}

    <span class="govuk-caption-xl">Table</span>
    <h1 class="govuk-heading-xl">{{ access.name }}</h1>

    <h2 class="govuk-heading-m">Manage Access for {{ access.database_access.user }}</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.access_levels.as_field_group }}
        <button class="govuk-button" type="submit">Grant Access</button>
    </form>

    <a href="{{ access.get_absolute_revoke_url }}" class="govuk-button govuk-button--warning">Revoke all access</a>

{% endblock %}
