{% extends "base.html" %}
{% block breadcrumbs %}
    {% include "includes/breadcrumbs.html" with breadcrumbs=breadcrumbs %}
{% endblock breadcrumbs%}

{% block content %}

    <span class="govuk-caption-xl">Table</span>
    <h1 class="govuk-heading-xl">{{ access.name }}</h1>

    <h2 class="govuk-heading-m">Revoke Access for {{ access.database_access.user }}</h2>
    <form method="post">{% csrf_token %}
        <p class="govuk-body">Are you sure you want to proceed?</p>
        {{ form }}
        <button class="govuk-button govuk-button--warning" type="submit">Revoke Access</button>
    </form>

{% endblock %}
