{% extends "base.html" %}

{% block content %}

<span class="govuk-caption-xl">Table</span>
<h1 class="govuk-heading-xl">{{ table.name }}</h1>

{% if table %}
  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Registered in Lake Formation</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">{% if table.is_registered_with_lake_formation %}Yes{% else %}No{% endif %}</td>
      </tr>
    </tbody>
  </table>

  {% if table.is_registered_with_lake_formation %}
    <h2 class="govuk-heading-l">User Access</h1>

    {% if access_queryset %}
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">User</th>
          <th class="govuk-table__header">
            <span class="govuk-visually-hidden">Actions</span>
          </th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for table_access in access_queryset %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">{{ table_access.database_access.user.email }}</td>
          <td class="govuk-table__cell align-right no-wrap">
            <form action="" method="post">
              {{ csrf_input }}
              <button class="govuk-button cpanel-button--destructive js-confirm"
                      data-confirm-message="Are you sure you want to revoke access for user?">
                Revoke Access
              </button>
            </form>
          </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
      <p class="govuk-body">No users have access to this table.</p>
    {% endif %}


    <a class="govuk-button" href="">
      Grant User Permissions
    </a>
  {% endif %}
{% else %}
  <p class="govuk-body">No table found.</p>
{% endif %}

{% endblock %}
