{% extends "base.html" %}
{% block title %}Analytical Platform - Table {{ table.name }}{% endblock title %}

{% block content %}

<span class="govuk-caption-xl">Table</span>
<h1 class="govuk-heading-xl">{{ table.name }}</h1>

<h2 class="govuk-heading-l">User Access</h2>

  {% if access_queryset %}
  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">User</th>
        <th class="govuk-table__header">Actions</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      {% for table_access in access_queryset %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">{{ table_access.database_access.user.email }}</td>
        <td class="govuk-table__cell align-right no-wrap">
            <a class="govuk-button">
              Manage Permissions
            </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
    <p class="govuk-body">No users have access to this table.</p>
  {% endif %}


  <a class="govuk-button" href="{{ access_url }}"%}">
    Grant User Permissions
  </a>

{% endblock %}
