<label class="govuk-label" for="{{ field.id_for_label }}">
    {{ field.label }}
</label>
{% if field.errors %}
    <p id="{{ field.name }}-error" class="govuk-error-message">
        {% for error in field.errors %}
            <span class="govuk-visually-hidden">Error:</span> {{ error|escape }}
        {% endfor %}
    </p>
{% endif %}
<select class="govuk-select" id="{{ field.id_for_label }}" name="{{ field.name }}" required>
    {% for value, display in field.field.choices %}
        <option value="{{ value }}">{{ display }}</option>
    {% endfor %}
</select>
