<!DOCTYPE html>
{% extends "govuk-frontend.html" %}
{% load static %}

{% block title %}Analytical Platform{% endblock title %}

{% block head %}
    <link href="{% static 'app.css' %}" rel="stylesheet" type="text/css" />
{% endblock head %}

{% block header %}
    {% include "includes/header.html" %}
{% endblock header %}

{% block footer %}
    {% include "includes/footer.html" %}
{% endblock footer %}


{% block body_end %}
    <script src="{% static 'assets/js/govuk.js' %}"></script>
    <script>window.GOVUKFrontend.initAll()</script>
{% endblock body_end %}
