<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en" class="govuk-template"><!--<![endif]-->
{% load static %}
<head>
  <meta charset="utf-8">
  <title>
    {% block title %}
    {% endblock %}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  {# Ensure that older IE versions always render with the correct rendering engine #}
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="theme-color" content="{{ themeColor | default:'#0b0c0c' }}" />
  {% block headIcons %}
  <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}" type="image/x-icon">
  <link rel="apple-touch-icon" href="{% static 'assets/images/moj-apple-touch-icon-180x180.png' %}" sizes="180x180">
  <link rel="apple-touch-icon" href="{% static 'assets/images/moj-apple-touch-icon-167x167.png' %}" sizes="167x167">
  <link rel="apple-touch-icon" href="{% static 'assets/images/moj-apple-touch-icon-152x152.png' %}" sizes="152x152">
  <link rel="apple-touch-icon" href="{% static 'assets/images/moj-apple-touch-icon.png' %}">
  {% endblock %}

  {% block head %}{% endblock %}
  {# The default og:image is added below head so that scrapers see any custom metatags first, and this is just a fallback #}
  {# image url needs to be absolute e.g. http://wwww.domain.com/.../govuk-opengraph-image.png #}
  {% if request %}
    <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{% static 'assets/images/moj-opengraph-image.png' %}">
  {% else %}
    <meta property="og:image" content="http://localhost/{% static 'assets/images/moj-opengraph-image.png' %}">
  {% endif %}

</head>

<body class="govuk-template__body govuk-frontend-supported">
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
  <a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>
  {% block body_start %}{% endblock %}

  {% block header %}
  {% endblock %}

  {% block main %}
    {% block before_content %}{% endblock %}
    <div class="{% block container_class_names %}govuk-width-container{% endblock container_class_names %}">
      {% block breadcrumbs %}{% endblock %}
      <main class="{% block main_class_names %}govuk-main-wrapper{% endblock main_class_names %}" id="main-content" role="main">
        {% include "includes/messages.html" %}
        {% block content %}{% endblock %}
      </main>
    </div>
  {% endblock %}

  {% block footer %}
  {% endblock %}

  {% block body_end %}
  {% endblock %}
</body>
</html>
